#dialogErr {
	font-size: 16px;
}

#labelErr {
	margin-top: 20px;
}

#label {
	font-size: 16px;
}

#labelOutput {
	font-size: 12px;
	 margin: 10px;
}

#leftBoxDrop {
	border: 5px dashed lightgray;
	margin: 10px;
}

#leftBox {
	margin: 10px;
}
